:root {
  --brand-silver: #c4c4c4;
  --brand-silver-rgb: 196 196 196;
  --brand-silver-hsl: 0 0% 76.863%;
  --brand-charcoal: #1d1c1b;
  --brand-charcoal-rgb: 29 28 27;
  --brand-charcoal-hsl: 30 3.571% 10.98%;
  --brand-white: #ffffff;
  --brand-white-rgb: 255 255 255;
  --brand-white-hsl: 0 0% 100%;
  --brand-black: #000000;
  --brand-black-rgb: 0 0 0;
  --brand-black-hsl: 0 0% 0%;
}
